[user]
	name = Msksgm
	email = {{ .email }}
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
	editor = nvim
	quotepath = false
	ignorecase = false
	autocrlf = input
  # pager = delta
[delta]
    side-by-side = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	sw = switch
	swc = switch -c
	st = status
	sts = status -s
	s = stash
	sp = stash pop
	ss = stash save
	br = branch
	brc = branch --contains
	brm = branch -m
	brd = branch -d
	brdd = branch -D
	co = checkout
	cp = cherry-pick
  g = grep
	adu = add -u
	adup = add -u -p
	com = commit
	mr = merge --no-ff
	mrff = merge --ff
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
[ghq]
	root = ~/workspace
