{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2026-05-23T01:38:21.505Z"
  },
  "ecc": {
    "source": {
      "source": "github",
      "repo": "affaan-m/ECC"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/ecc",
    "lastUpdated": "2026-06-24T00:00:00.000Z"
  },
  "crit": {
    "source": {
      "source": "github",
      "repo": "tomasz-tomczyk/crit"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/crit",
    "lastUpdated": "2026-07-24T06:59:08.766Z"
  }
}